* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  }

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}

header > h1 {
    padding-top: 15px;
    padding-left: 15px;
}


.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}


main {
  padding: 30px 30px 10px;
}


.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid gray;
  padding: 9px 13px 9px 13px;
  flex-grow: 1px;
  width: 350px;
}

.add-ingredient-form > button {
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  background-color: black;
  color: white;
  width: 150px
}
